body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

h1 {
    color: #66BFBF;
    font-family: 'Satisfy', cursive;
    font-size: 5.6rem;
    font-weight: normal;
    margin-top: 0;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    margin-top: 0;
}

.title_block {
    background-color: #fcf8e8;
}

.title_cloud {
    display: inline-block;
    margin-right: 20%;
    opacity: 0.7;
    width: 35%;
}

.title_mountain {
    width: 60%;
}

.profile {
    width: 300px;
    border-radius: 100%;
}

.intro_block {
    background-color: #d4e2d4;
    padding-top: 5rem;
}

.intro_text {
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: left;
}

.skill_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.mern_stack {
    width: 60%;
}
